body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

/* HERO SECTION */
.hero {
  background: url('hero.png') center center/cover no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
  padding: 3rem 1rem 1rem 1rem;
}

.overla
